[user]
	name = Mitsuteru Sawa
	email = mttrs@users.noreply.github.com
[color]
	branch = auto
	diff = auto
	grep = auto
	status = auto
	ui = true
[alias]
	ba = branch -a
	bl = blame
	br = branch
	ci = commit -v
	cl = clone
	co = checkout
	dc = diff --cached
	di = diff --color=always
	diw = diff --word-diff
	l = log --oneline --decorate=short
	lg = log --graph --decorate=short --abbrev-commit
	ls = log --stat --decorate=full --date=iso --abbrev-commit --show-linear-break
	mg = merge --no-ff
	re = remote -v
	sb = show-branch
	st = status --short --branch
	sw = switch
[http]
        sslVerify = true
[push]
        default = upstream
[pull]
	rebase = true
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
[ghq]
	root = ~/go/src
[init]
	defaultBranch = main
